.timeContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
    font-size: small;
}

.container {
    border: 1px solid white;
    padding: 7px;
    margin: 4px;
    display: flex;
    flex-direction: column;
}

.timeContainer button:first-of-type {
    margin-left: auto;
}

.summary {
    margin-top: 7px;
    border-top: 1px dotted white;
    display: flex;
    align-items: center;
    flex-direction: row;
}